<!doctype html>
<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, public, max-age=0" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
        <title>Quiz</title>
    </head>
    <body>
        <header>
            <h1>{{ question.correct_answer }}</h1>
            <h2>{{ question.question }}</h3>
        </header>

        <div class="flex">
            <div class="image" style="background-image: url('{{ question.image_url() }}')">
            </div>
            <div class="form"> 
                {% for i in question.answers%}
                    <label class="container container_evaluated_answer
                        {% if i == question.correct_answer %} correct_label
                        {% elif users_choice == i and users_choice != question.correct_answer %} incorrect_label
                        {% endif %}" 
                    > 
                        <input type="radio" name="Options" value="{{i}}" disabled>
                        <span class="checkmark
                            {% if i == question.correct_answer %} correct
                            {% elif users_choice == i and users_choice != question.correct_answer %} incorrect
                            {% endif %}"    
                        ></span>
                        {{i}}
                    </label><br>
                {% endfor %}

                <form action="/question_page" method="POST">
                    <input type="submit" name="next" value="Next" class="next_button">
                    <input type="hidden" name="session_id" value="{{ session_id }}">
                </form>
            </div>
        </div>
        <footer>
            <p>Source: text: https://en.wikipedia.org/wiki/; photos: https://unsplash.com/</p>
            <p>&copy; Alexandra Šimková, 2020</p>
        </footer>
    </body>
</html>